* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

:root {
    --space-indigo: #22223bff;
    --dusty-grape: #4a4e69ff;
    --lilac-ash: #9a8c98ff;
    --almond-silk: #c9ada7ff;
    --parchment: #f2e9e4ff;
}

.body {
    background-color: var(--space-indigo);
    color: var(--parchment);
    padding: 14px;
    min-height: 100vh;
    font-family: Roboto;
}
