.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: true;
}

.gamePreview {
    width: 400px;
    height: 300px;
    position: relative;
    border-radius: 20px;
    border: 2px solid var(--almond-silk);
    overflow: hidden;
    cursor: pointer;
}

.gamePreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-family: inherit;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 36px;
}
