.rankingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 10px;
}

.rows {
    display: flex;
    gap: 20px;
}
