.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.messageContainer {
    background-color: var(--almond-silk);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dusty-grape);
    padding: 20px;
    border-radius: 10px;
}

.time {
    font-size: 2rem;
    font-family: inherit;
    font-weight: 600;
}

.message {
    display: flex;
    gap: 10px;
}

.message p {
    font-size: 1.4rem;
    font-weight: 500;
}

.message input {
    font-size: 1rem;
    padding: 10px;
    background-color: transparent;
    border: none;
}
